doctype
html
    head
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        
        script(type="text/javascript", src="http://code.jquery.com/jquery-1.9.1.js")
        script(type="text/javascript", src="js/jQuery.interactive_bg.js")
        script(type="text/javascript", src="js/typed.min.js")
        title Fine Point
    body
        div(class="wrapper bg" data-ibg-bg="bg.jpg")
            .main
                .header
                    .logo
                        h2 Fine Point
                    .welcome
                        h3(id="typedHeading")
                        p(id="typedSubheading")
                    .options
                        .social-circle
                            i(class="fa fa-vk")
                        .social-circle
                            i(class="fa fa-facebook")
                        .social-circle
                            i(class="fa fa-soundcloud")
                        .social-circle
                            i(class="fa fa-envelope")
                        .social-circle
                            i(class="fa fa-shopping-cart")
                        .social-circle
                            i(class="fa fa-diamond")
                .content
                    .extraLeft
                    .left
                        .topLeft.plate
                            h3 Who am I?
                            p I am a student, freelancer and skilful web designer<br />
                            span.icon
                                i.icon-user
                        .bottomLeft.plate
                            h3 What's going  on?
                            p My microblog<br />Have a look what I have been up to recently
                            span.icon
                                i.icon-puzzle
                    .middle
                        .myPhoto(id="myPhoto")
                    .right
                        .topRight.plate
                            h3 Experience
                            p Only starting my career as a private hired web-designer.<br />Hire me to extent my portfolio.
                            span.icon
                                i.icon-briefcase
                        .bottomRight.plate
                            h3 Hire me!
                            p Creative and proffesional approach.<br />No prepayment needed<br />
                            span.icon
                                i.icon-ghost
                    .extraRight
                .footer
                    p Your Ad could be here  | 2016 &copy; FineDevStd - Maksim Valetov |  Your Ad could be here
        script(type="text/javascript", src="js/main.js")